#container {
    max-width: 1200px;
    margin: 50px auto;
}

/*Show more content*/
.morecontent span {
    display: none;
}

.morelink {
    display: block;
}
li {
    float: left;
    margin: 6px;
    border: solid 1px black;
    list-style: none;
}

li a {
    /*display: inline-block;*/
    padding: 4px 8px;
    color:black;
    font-size:20px;
}
li span {
    display: inline-block;
    padding: 4px 8px;
    background: white;
    color: red;
    font-weight:bold;
    font-size:20px;
}

/*Slide bar*/
.term {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .term:hover {
    background-color: #555;
}
.active{
    color:red;
}
.term:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.term_content {
    padding: 0 18px;
    max-height: 0;
    overflow-y: scroll;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

/*Add new Category, new Tag*/
#add_new_category, #add_new_tag {
    margin: 20px auto;
    background: none;
    color: green;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.add_new_category, .add_new_tag, #category-name, #tag-name {
    margin: 20px auto;
}
