#container {
    max-width: 1200px;
    margin: 20px auto;
}
/*Show more content*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}