root = true

[*]
indent_style = space
[*.html]
indent_size = 2
[*.{js,json,vue}]
indent_size = 2
[*.{css,styl,scss,less,sass}]
indent_size = 2
[*.php]
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null
